.tamanio-contenedor{
    max-width: 100%;
    font-size: 3vw;
    
}

button {
    background: linear-gradient(to right, #74ACDF, white, #74ACDF);
    border-radius: 15%; 
    font-family:  sans-serif;
    font-weight: 700;
    font: 2.5em;
    font-weight: 50;
    line-height: 2.1;
    font-size: auto;
    margin-bottom:5px;
}

.display-flex{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
   /* align-items: flex-end;*/
   /* border: solid black 3px;*/
}
.tam-div-dato{
    width: 50vw;
    height: auto;
   /* border:solid red 3px;*/

}

.display-flex-start{
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
   /* border: solid black 3px;*/
    width: 50vw;
}

.estilo-normal{
    margin:auto;
    color:black;
    text-shadow: none;
    text-rendering: auto;
    margin-left: 5px;
}
.tam-div-tarjeta{
    margin:10px;
    text-align: center;
}
