.nav-item {
    margin-right: 5vw;
}

li {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse
}
.bg-ligthblue{
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    /*background-color: rgb(12, 46, 255);*/
}

.bg-white{
    background-color: lightgray;
}

.color-font{
    
    color:white;
}
.borde{
    border-width:5px!important;
    --bs-border-color: black!important;
}
.navbar{
    border: solid black 3px ;
}


.border-li{
    border:solid black ;
}

.color-btn{
    color: black;
}

.tama-img-ico{
    margin-right: 20px;
    width :15vw;    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.imagen-fondo{

   /* background-image: url('../Imagenes/fondo_estrella.jpg');*/
    background-size: 100vw;
        
}

.descrip-text{
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.margin-segunda-imagen{

    margin-right: 3px;
}

.margen-izq{
    margin-left: auto!important;
}